.icon {
  vertical-align: middle;
  margin-left: 8px;
  color: transparent;
  pointer-events: none;

  &--star {
    margin-right: 4px;
    color: $color-table-header-hover;
    font-size: 0.55em;

    &--colour-white {
      color: $color-white;
    }
  }
  &--page-arrows {
   pointer-events: none;
    margin: 0;
    color: grey;
  }
}