@import '../base/mixins.scss';

.content-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  margin:0 auto;
  overflow-x: hidden;
}
.table-wrapper {
  width: 100%;
  padding-bottom: 30px;
  @include shadow(#bababa, 10px);
  background-color: $color-white;
  z-index: 1;

}
.content-table {
  margin: 0;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  border-collapse:separate;
  border-spacing: 0 7px;
  flex-grow:1;
  position: relative;

  &__header {
    text-align: left;
    font-size: 12px;
    color: $color-table-header;
    position: sticky;
   // top: 10%;
/*    max-width: 980px;
    width: 100%;*/

    &__cell {
      cursor: pointer;
      padding-left: 14px;

      &:hover {
        color: $color-table-header-hover;

        .icon {
          color: $color-table-header-hover;
        }
      }
    }
  }

  &__body {
    &__row {
      height: 60px;
      cursor: pointer;
      border-radius: 2px;
      @include shadow($color-cell-shadow);
      @include transition(all, .3s);

      &:hover {
        transform: scale(1.05);
        @include shadow(#bababa, 5px);
      }
    }
    &__cell {
      padding: 15px;

      &--bold {
        font-weight: 800;
      }

      &--number {
        font-size: 18px;
      }
    }
  }
}

.row-on-focus {

}