.table-container {
  width: 100%;

}

.content-table {
  margin: auto;
  max-width: 900px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;

  &__header {
    text-align: left;
    font-size: 12px;
    color: $color-table-header;

    &__cell {
      cursor: pointer;

      &:hover {
        color: $color-table-header-hover;

      }
    }
  }

}

.icon-arrow {
  margin-top: 10px;
}