@import "../mixins/helpers";
@import "../mixins/media-queries";

.content-wrapper {
  display: flex;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  width: 100%;

  @include mq-until(md) {
    flex-direction: column;
  }
}

.table-area-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.table-wrapper {
  background-color: $color-white;
  height: 100%;
  width: 100%;
  word-break: normal;
  z-index: 1;

  @include shadow(#bababa, 10px, -40px);
  @include mq-until(md) {
    box-shadow: none;
    font-size: 14px;
    margin-top: 220px;
    word-break: break-word;
  }
}

.content-table {
  border-collapse: separate;
  border-spacing: 0 7px;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  margin: 0;
  max-width: 1200px;
  padding: 30px;
  position: relative;
  table-layout: fixed;
  width: 100%;

  &__header {
    color: $color-table-header;
    font-size: 12px;
    position: sticky;
    text-align: left;

    &__cell {
      cursor: pointer;
      padding-left: 14px;

      &:hover {
        color: $color-table-header-hover;

        .icon {
          color: $color-table-header-hover;
        }
      }
    }
  }

  &__body {
    &__row {
      border-radius: 2px;
      cursor: pointer;
      height: 60px;
      @include shadow($color-cell-shadow);
      @include transition(all, 0.3s);

      &:hover {
        transform: scale(1.05);
        @include shadow(#bababa, 5px);
      }
    }

    &__cell {
      padding: 15px;

      &--bold {
        font-weight: 800;
      }

      &--number {
        font-size: 18px;
      }
    }
  }
}

.row-on-focus {
  background-color: $color-table-header-hover;
  color: $color-white;
}
