$base-text-color: #575757;
$color-table-header: #757575;
$color-table-header-hover: #8042e4;
$color-nav-text: #a2a2a2;
$color-black: #000;
$color-white: #fff;
$color-cell-shadow: #bababa;
$color-sidenav-border: #ededed;
