@mixin hover-active-color($color: $color-table-header-hover) {
  background-color: $color;
  color: $color-white;
}

.pagination-wrapper {
  margin: 0 auto;
  max-width: 430px;
  width: 100%;
}

.page-buttons {
  margin: auto;

  @include mq-until(md) {
    max-width: 320px;
  }

  &__button {
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    margin: 10px 0;
    max-width: 47px;
    padding: 12px 2px;
    width: 100%;

    &--active {
      @include hover-active-color;
    }

    &:not([disabled]) {
      cursor: pointer;
    }

    &:hover:not([disabled]),
    &:hover:not([disabled]) .icon--page-arrows {
      @include hover-active-color(#c1a5f3);
    }

    @include mq-until(md) {
      font-size: 10px;
      max-width: 35px;
      padding: 6px 1px;
    }
  }
}
