.scroll-up-arrow {
  background-color: $color-table-header-hover;
  border-radius: 50px;
  cursor: pointer;
  left: 95%;
  padding: 15px 17px;
  position: fixed;
  text-align: center;
  top: 90%;
  z-index: 2;
}
